body{
    background-color: rgb(82, 80, 80);
    background-position: right top;
    display: flex;
    height: 100vh;    
    allign-items: center;
    flex-direction: column;
}

.myheader {
    color: rgb(235, 194, 12);
    align-items: center;
    display: flex;
    justify-content: center;   
}

.per {

    border: 6px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.eldenring img {
    height: 200px;
    width: auto;
    display: flex;
    margin: auto;
    padding: auto;     
    align-self: left center;
}

.list {
    height: 30vh;
    width: 400px;
    color: rgb(230, 208, 19);
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    line-height: 50px;
}

.eldenring img {
    height: 200px;
    width: auto;
    pos
}

.myfooter {
    color: rgb(242, 255, 67);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

